body {
	background: url(assets/bg.jpg);
	background-size: cover;
}

h1 {
	font-family: 'Pacifico', cursive;
	color: white;
	text-align: center;
	margin-top: 140px;
	font-size: 50px;
}

p{
	background-color: rgba(255, 255, 255, 0.1);
	text-align: center;
	margin-top: 160px;
	color: white;
	font-family: 'Exo 2', sans-serif;
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 300px;
}

p>img{
	width: 1.5em;
	height: 1.5em;
}

.bg-color{
	background-color: black;
}

.navbar-brand{
	font-family: 'Pacifico', cursive;
	color: white;	
}

.btn-outline-secondary{
	color: white;
	border: 4px solid black;
	font-weight: bold;
	transition: all 0.5s;
}

.btn-outline-secondary:hover{
	background-color: rgba(0, 0, 0, 0.6);
	border-color: rgba(0, 0, 0, 0.6);
}

.btn-lg:hover{
	transform: scale(1.2);
}

.container{
	display: flex;
	justify-content: center;
	margin-top: 100px;
	font-family: 'Exo 2', sans-serif;
}
